<h1> Upload New Photo </h1>

<%= form_for @new_picture do |f| %>
    <%= f.label :user_id, "Username:" %>
    <%= f.collection_select :user_id, User.all, :id, :username, prompt: "Select User" %> 
    <br /> 
    <br />
    <%= f.label :image %>
    <%= f.text_field :image %> 
    <br /> 
    <br />
    <%= f.label :title %>
    <%= f.text_field :title %> 
    <br /> 
    <br />
     <%= label_tag :tag, "Pick a Tag" %> 
    <%= f.fields_for :tag, Tag.new do |tag_attributes| %> 
        <% Tag.all.each do |tag| %> 
            </br>
            <%= tag_attributes.label :name, tag.name %>
            <%= tag_attributes.check_box :name, {multiple: true}, tag.name, nil %>
        <% end %>
        </br>
        <%= tag_attributes.label :name, "New Tag" %>
        <%= tag_attributes.text_field :name, multiple: true %>
    <% end %>
    </br>
    </br>
    <%= f.submit "Upload Photo"%>
 <% end %>