<h1> Picture Page </h1>

<ul>
  
  <li>
    Title: <%= @picture.title %>
  </li>

  <li>
    <img  class="picture" alt=<%= @picture.title %> src=<%= @picture.image %>/>
  </li>

  <li>
    Tags:
      <ul>
        <% @picture.picture_tags.each do |pic_tag| %>
          <li>
          <%= pic_tag.tag.name %>
          </li>
          <% end %>
      </ul>
  </li>

  </br>

  <li>
    Comments:
      <ul>
        <% @picture.comments.each do |comment| %>
          <li>
          <%= comment.user.username %> - <%= comment.content %> 
          </li>
          <% end %>
      </ul>
  </li>

</br>

  <%= button_to "Leave Comment", new_comment_path, method: "get" %>

</ul>

