<h1> Picture Page </h1>

<ul>
  
  <li>
    Title: <%= @picture.title %>
  </li>

  <li>
    Image: <img  class="picture" alt=<%= @picture.title %> src=<%= @picture.image %>/>
  </li>

  <li>
    Tags:
      <ul>
        <% @picture.picture_tags.each do |pic_tag| %>
          <li>
          <%= pic_tag.tag.name %>
          </li>
          <% end %>

      </ul>

  </li>

  <li>
    Comments:
      <ul>
        <% @picture.comments.each do |pic_tag| %>
          <li>
          <%= pic_tag.content %>
          </li>
          <% end %>

      </ul>

  </li>

</ul>

